[global]
server.socket_host = '192.168.1.10'
server.socket_port = 8080
server.thread_pool = 10
tools.sessions.on = True

[/static]
tools.staticdir.root = zfswebd.current_dir + '/static'

[/static/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"

[/static/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"

[/static/fonts]
tools.staticdir.on = True
tools.staticdir.dir = "fonts"