{% extends "master.html" %}
{% block title %}Index{% endblock %}
{% block pageheader %}
			<ul class="nav nav-pills">
			  <li class="active"><a href="/disks/overview">Overview</a></li>
			  <li><a href="/disks/partitions">Partitions</a></li>
			  <li><a href="/disks/gpt">GPT</a></li>
			  <li><a href="/disks/health">Health</a></li>
			</ul>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Detected Disks:</strong></div>
  <div class="panel-body">
  	Remember: Sectorsize is often reported wrong by the disk for compatibility reasons.<br>
  	Click on a disk identifier for more Actions.
  </div>
  <table class="table table-striped table-condensed table-hover">
  <thead>
  	<tr>
  		<th>&nbsp;</th>
  		<th>Identifier</th>
  		<th>Name</th>
  		<th>Size</th>
  		<th>Sector Size</th>
  		<th>Sector Count</th>
  	</tr>
  </thead>
  <tbody>
    {% for entry in content %}
		<tr>
			<td><span class="glyphicon glyphicon-hdd"></span></td>
			<td><a class="btn btn-sm btn-primary" href="/disks/overview/{{ entry['identifier'] }}">{{ entry['identifier'] }}</a></td>
			<td>{{ entry['name'] }}</td>
			<td>{{ entry['mediasize'] }}</td>
			<td>{{ entry['sectorsize'] }}</td>
			<td>{{ entry['sectorcount'] }}</td>
		</tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}